<form action="/add-to-cart" method="post">
    <button type="submit">Add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <input type="hidden" name="price" value="<%= product.price %>">
</form>
